---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";

import { Image } from "astro:assets";

import kaffeplante from "../assets/images/kaffeplante.webp";
import kaffeplante3 from "../assets/images/kaffeplante3.webp";
import bønner from "../assets/images/bønner.webp";
import bryg from "../assets/images/bryg.webp";
import risteri from "../assets/images/risteri.webp";
---

<MainLayout title="Kontakt os">
  <div class="fade1">
    <h1
      class="text-[#2B2B2B] georama text-[40px] mt-5 mb-5 text-center md:text-[64px]"
    >
      Kontakt os
    </h1>
    <h2 class="text-[#2B2B2B] georama text-[20px] mx-10 text-center">
      Skriv til os hvis du har spørgsmål vedrørende vores produkter, din ordre
      eller andet.
    </h2>

    <!-- Formular -->
    <div
      class="manrope flex flex-col md:flex-row items-start justify-center gap-10 md:gap-20 mt-10 px-5 mx-auto md:mt-20"
    >
      <form action="/submit" method="post" class="w-full max-w-lg">
        <label for="name" class="block mb-1">Navn</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          class="w-full mb-6 p-4 border border-[#2B2B2B] bg-[#EDE4DE] h-[50px]"
        />

        <label for="email" class="block mb-1">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          class="w-full mb-6 p-4 border border-[#2B2B2B] bg-[#EDE4DE] h-[50px]"
        />

        <label for="phone" class="block mb-1">Telefonnummer</label>
        <input
          type="tel"
          id="phone"
          name="phone"
          required
          class="w-full mb-6 p-4 border border-[#2B2B2B] bg-[#EDE4DE] h-[50px]"
        />

        <label for="message" class="block mb-1">Besked</label>
        <textarea
          id="message"
          name="message"
          rows="4"
          required
          class="w-full mb-8 p-4 border border-[#2B2B2B] bg-[#EDE4DE]"
        ></textarea>

        <div class="flex justify-center">
          <button
            class="manrope text-[16px] font-medium md:text-[18px] bg-[#577866] hover:bg-[#455F50] text-[#F9F6F1] px-6 py-4 transition duration-300"
            type="submit"
          >
            Send besked
          </button>
        </div>
      </form>

      <!-- Billeder til højre på desktop -->
      <div
        class="hidden md:flex flex-col justify-between max-h-[600px] w-full max-w-lg gap-5"
      >
        <Image
          src={kaffeplante}
          alt="Kaffebusk med grønne blade og røde kaffebær"
          class="h-[300px] object-cover"
        />
        <Image
          src={kaffeplante3}
          alt="Kaffebusk med grønne blade og røde kaffebær"
          class="h-[148px] object-cover"
        />
      </div>
    </div>
  </div>

  <section class="bg-[#577866] py-10 my-10 px-5 md:px-10 md:pb-20 md:pt-20">
    <div
      class="flex flex-col md:flex-row md:justify-between md:items-start gap-10 max-w-screen-xl mx-auto fade2"
    >
      <div class="flex flex-col md:w-1/2 order-1">
        <h1
          class="text-[#F9F6F1] georama text-[40px] md:text-[64px] text-center md:text-left md:-mt-5"
        >
          Find os her
        </h1>

        <!-- Mobil kort-->
        <div class="md:hidden mt-10">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4499.144539476696!2d12.526661976727592!3d55.679037797670475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465253bc217da203%3A0xafd2d70ef77d682c!2sKaffevaerk!5e0!3m2!1sda!2sdk!4v1747684391184!5m2!1sda!2sdk"
            width="100%"
            class="w-full h-[400px]"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <!-- Info -->
        <ul class="manrope list-none text-[#F9F6F1] space-y-5 mt-10">
          <li class="space-y-2">
            <p class="font-bold">Butik</p>
            <p>Smallegade 22, 2000 Frederiksberg</p>
          </li>

          <li class="space-y-2">
            <p class="font-bold">Risteri</p>
            <p>Rugmarken 31, 3520 Farum</p>
          </li>

          <li class="space-y-2">
            <p class="font-bold">Åbningstider</p>
            <p>Mandag–Fredag: 08.00–17.30</p>
            <p>Lørdag–Søndag: 09.00–15.00</p>
          </li>

          <li class="space-y-2">
            <p class="font-bold">Email</p>
            <p>info@kaffevaerk.dk</p>
          </li>

          <li class="space-y-2">
            <p class="font-bold">Telefon</p>
            <p>+45 70 22 22 64</p>
          </li>
        </ul>
      </div>

      <!-- Dekstop kort -->
      <div class="hidden md:block order-2">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4499.144539476696!2d12.526661976727592!3d55.679037797670475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465253bc217da203%3A0xafd2d70ef77d682c!2sKaffevaerk!5e0!3m2!1sda!2sdk!4v1747684391184!5m2!1sda!2sdk"
          width="100%"
          class="w-[800px] h-[530px] mx-auto"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>

  <div class="flex flex-col md:flex-row gap-6 justify-center my-10 md:px-6">
    <Image
      src={bønner}
      alt="Kaffebønner"
      class="w-full md:w-1/3 object-cover"
    />
    <Image
      src={bryg}
      alt="Kaffe under brygning i en espressomaskine"
      class="w-full md:w-1/3 object-cover"
    />
    <Image
      src={risteri}
      alt="Kaffebønner der bliver ristet i risteri"
      class="w-full md:w-1/3 object-cover"
    />
  </div>
</MainLayout>

<script>
  import { inView } from "motion";

  const fade1 = document.querySelector(".fade1");

  inView(fade1, () => {
    fade1.classList.add(
      "animate__animated",
      "animate__fadeIn",
      "fadeInOpacity"
    );
  });

  const fade2 = document.querySelector(".fade2");

  inView(fade2, () => {
    fade2.classList.add(
      "animate__animated",
      "animate__fadeIn",
      "fadeInOpacity",
      "animate__delay-1s"
    );
  });
</script>
