---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { Image } from "astro:assets";

import farm1 from "../assets/images/farm.webp";
import farm2 from "../assets/images/farm2.webp";
import bønner from "../assets/images/bønner.webp";
import bryg from "../assets/images/bryg.webp";
import risteri from "../assets/images/risteri.webp";
---

<MainLayout title="Om os">
  <section
    class="flex flex-col md:flex-row md:items-center px-5 md:px-20 md:my-10"
  >
    <Image
      src={farm2}
      alt=""
      class="order-1 md:max-w-xl md:order-2 md:h-[450px] object-cover"
    />

    <div class="order-2 md:order-1">
      <h1
        class="text-[#2B2B2B] georama text-[40px] my-5 text-center md:text-left md:text-[48px]"
      >
        Om Kaffevaerk
      </h1>
      <p
        class="manrope text-[#2B2B2B] text-[16px] px-2 mb-10 md:px-0 md:text-left"
      >
        Kaffevaerk risteri er grundlagt ud fra principper om bæredygtighed -
        over for miljøet og farmerne. Derfor har vi valgt udelukkende at source
        kaffer med fuld sporbarhed hvor vi er sikre på at kaffens smag også
        afspejler det arbejde der er lagt i dyrkning og forarbejdning.
      </p>
      <p
        class="manrope text-[#2B2B2B] text-[16px] px-2 mb-10 md:px-0 md:text-left"
      >
        Vi stræber efter et samarbejde med farmere og tiltroede folk i branchen
        hvor vi kan opbygge længerevarende og gensidige forhold. Vi ønsker at
        skabe værdi for alle i kæden - fra farmer til forbruger.
      </p>
    </div>
  </section>

  <section class="bg-[#577866] mt-10 py-4 px-5 md:px-20 md:py-20">
    <div class="flex flex-col md:flex-row md:items-center">
      <!-- Billede til venstre -->
      <Image
        src={farm1}
        alt=""
        class="w-full md:w-1/2 md:max-w-xl md:mr-10 md:h-[450px] object-cover"
      />

      <!-- Tekst til højre -->
      <div class="w-full md:w-1/2">
        <h1
          class="text-[#F5EFE6] georama text-[40px] my-5 text-center md:text-left md:text-[48px]"
        >
          Økologisk dyrkning og kaffe med karakter
        </h1>
        <p
          class="manrope text-[#F5EFE6] text-[16px] px-2 mb-10 md:px-0 md:text-left"
        >
          Vi har fokus på økologi da vi ønsker en dyrkning der er bæredygtig i
          det lange løb uden kemikalier og kunstgødning. Ved at lade naturen
          pleje sig selv gennem oprindelige dyrkningsmetoder og naturlig
          kompost-gødning ved vi at jorden i dyrkningslandene ikke bliver udpint
          og at der dermed er grobund for fremtidig kaffedyrkning i
          generationer. <br /><br />
          Kaffevaerks mission er at alle skal kunne finde noget de elsker i en af
          vores poser. Vi rister i små portioner så ofte der er brug for det, til
          dem der har brug for en opkvikker, en smagsoplevelse eller noget anderledes.
        </p>
      </div>
    </div>
  </section>

  <div class="flex flex-col md:flex-row gap-6 justify-center my-10 md:px-6">
    <Image src={bønner} alt="" class="w-full md:w-1/3 object-cover" />
    <Image src={bryg} alt="" class="w-full md:w-1/3 object-cover" />
    <Image src={risteri} alt="" class="w-full md:w-1/3 object-cover" />
  </div>
</MainLayout>
