---
import MainLayout from "../layouts/MainLayout.astro";
import Produkter from "../components/Produkter.astro";

const products = await fetch(
  "https://rzrjmncawmbiwybkfevi.supabase.co/rest/v1/products?order=id.asc",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6cmptbmNhd21iaXd5YmtmZXZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU4NjM5MDQsImV4cCI6MjA2MTQzOTkwNH0.fZH4Fc4wDSH_YNjx4pfHsh8rdOatk8MoKo582D9Peow",
      Authorization:
        "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6cmptbmNhd21iaXd5YmtmZXZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDU4NjM5MDQsImV4cCI6MjA2MTQzOTkwNH0.fZH4Fc4wDSH_YNjx4pfHsh8rdOatk8MoKo582D9Peow",
    },
  }
).then((res) => res.json());
---

<MainLayout>
  <div class="fade1">
    <h1
      class="text-[#2B2B2B] georama text-[40px] mt-5 mb-5 text-center md:text-[64px]"
    >
      Kaffesortiment
    </h1>

    <h2 class="text-[#2B2B2B] georama text-[20px] mx-10 text-center">
      Vi har ristet hver bønne med omtanke. Filtrér og find den kaffe, der
      passer til din smag
    </h2>

    <!-- Filter knapper -->
    <div class="m-10 text-left md:m-0">
      <div
        class="georama md:text-[20px] flex flex-col md:flex-row md:items-center md:gap-10 md:m-20"
      >
        <p class="mb-2 md:mb-0">Filter:</p>
        <div
          class="flex flex-col gap-2 md:flex-row md:gap-8 items-start md:items-center"
        >
          <button
            data-filter=""
            class="filter-btn bg-transparent border-none p-0 cursor-pointer"
          >
            <span
              class="relative inline-block
                 after:absolute after:left-0 after:-bottom-1 after:h-[1px]
                 after:w-0 after:bg-current after:transition-all after:duration-300
                 hover:after:w-full"
            >
              Vis alle
            </span>
          </button>
          <button
            data-filter="Kaffevaerk Blends"
            class="filter-btn bg-transparent border-none p-0 cursor-pointer"
          >
            <span
              class="relative inline-block
                 after:absolute after:left-0 after:-bottom-1 after:h-[1px]
                 after:w-0 after:bg-current after:transition-all after:duration-300
                 hover:after:w-full"
            >
              Kaffevaerk Blends
            </span>
          </button>
          <button
            data-filter="Single Origin"
            class="filter-btn bg-transparent border-none p-0 cursor-pointer"
          >
            <span
              class="relative inline-block
                 after:absolute after:left-0 after:-bottom-1 after:h-[1px]
                 after:w-0 after:bg-current after:transition-all after:duration-300
                 hover:after:w-full"
            >
              Single Origin
            </span>
          </button>
          <button
            data-filter="Koffeinfri"
            class="filter-btn bg-transparent border-none p-0 cursor-pointer"
          >
            <span
              class="relative inline-block
                 after:absolute after:left-0 after:-bottom-1 after:h-[1px]
                 after:w-0 after:bg-current after:transition-all after:duration-300
                 hover:after:w-full"
            >
              Koffeinfri
            </span>
          </button>
        </div>
      </div>
    </div>

    <!-- Produktlisten -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-3 px-4" id="product-list">
      {
        products.map((product, i) => {
          const row = Math.floor(i / 3);
          const bgColor = row % 2 === 0 ? "#6C8EA4" : "#577866";

          return (
            <div class="product-item" data-category={product.category}>
              <Produkter data={product} bgColor={bgColor} />
            </div>
          );
        })
      }
    </div>
  </div>
</MainLayout>

<script is:inline>
  const buttons = document.querySelectorAll(".filter-btn");
  const products = document.querySelectorAll(".product-item");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const filter = button.getAttribute("data-filter");

      products.forEach((product) => {
        product.style.display =
          !filter || product.dataset.category === filter ? "block" : "none";
      });

      buttons.forEach((btn) => {
        const span = btn.querySelector("span");
        span.classList.remove("border-black");
        span.classList.add("border-transparent");
      });

      const clickedSpan = button.querySelector("span");
      clickedSpan.classList.remove("border-transparent");
      clickedSpan.classList.add("border-black");
    });
  });
</script>

<script>
  import { inView } from "motion";

  const fade1 = document.querySelector(".fade1");

  inView(fade1, () => {
    fade1.classList.add(
      "animate__animated",
      "animate__fadeIn",
      "fadeInOpacity"
    );
  });
</script>
