---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<MainLayout title="Shop">
  <h2
    class="text-[#2B2B2B] georama text-[40px] mt-5 mb-5 text-center md:text-[64px]"
  >
    Kaffesortiment
  </h2>
  <h3 class="text-[#2B2B2B] georama text-[20px] mx-10 text-center">
    Vi har ristet hver bønne med omtanke. Filtrér og find den kaffe, der passer
    til din smag
  </h3>
</MainLayout>
