---
import { Image } from "astro:assets";
import instagram from "../assets/images/instagram.svg";
---

<footer class="bg-[#946654] py-4 md:pt-10">
  <div class="grid grid-cols-1 md:grid-cols-5 gap-8 mx-4 md:mx-16 fade1">
    <!-- Adresse -->
    <div>
      <h1 class="text-[#F9F6F1] georama text-[24px] md:text-[28px]">Adresse</h1>
      <div
        class="text-[#F9F6F1] manrope text-[16px] md:text-[16px] flex flex-col space-y-2"
      >
        <div class="space-y-1 mt-5">
          <p>Butik:</p>
          <p>Smallegade 22,</p>
          <p>2000 Frederiksberg</p>
        </div>

        <div class="space-y-1 mt-5">
          <p>Risteri:</p>
          <p>Rugmarken 31,</p>
          <p>3520 Farum</p>
        </div>
      </div>
    </div>

    <!-- Åbningstider -->
    <div>
      <h1
        class="text-[#F9F6F1] georama text-[24px] md:text-[28px] mb-2 md:mb-5"
      >
        Åbningstider
      </h1>
      <div class="text-[#F9F6F1] space-y-1">
        <p class="mb-3">Mandag–Fredag: 08.00–17.30</p>
        <p>Lørdag–Søndag: 09.00–15.00</p>
      </div>
    </div>

    <!-- Kontakt -->
    <div>
      <h1
        class="text-[#F9F6F1] georama text-[24px] md:text-[28px] mb-2 md:mb-5"
      >
        Kontakt os
      </h1>
      <div class="text-[#F9F6F1] space-y-1">
        <a
          href="mailto:info@kaffevaerk.dk"
          class="block mb-3 text-[#F9F6F1] manrope hover:underline"
        >
          info@kaffevaerk.dk
        </a>

        <a
          href="tel:+4570222264"
          class="block text-[#F9F6F1] manrope hover:underline"
        >
          +45 70 22 22 64
        </a>
      </div>
    </div>

    <!-- Links -->
    <div>
      <h1
        class="text-[#F9F6F1] georama text-[24px] md:text-[28px] mb-2 md:mb-5"
      >
        Links
      </h1>
      <div class="text-[#F9F6F1] space-y-1">
        <a
          href="/shop"
          class="block mb-3 text-[#F9F6F1] manrope hover:underline"
        >
          Shop
        </a>
        <a
          href="/om-os"
          class="block mb-3 text-[#F9F6F1] manrope hover:underline"
        >
          Om os
        </a>
        <a
          href="/kontakt"
          class="block mb-3 text-[#F9F6F1] manrope hover:underline"
        >
          Kontakt os
        </a>
        <a href="/faq" class="block text-[#F9F6F1] manrope hover:underline">
          FAQ
        </a>
      </div>
    </div>

    <!-- Følg -->
    <div>
      <h1
        class="text-[#F9F6F1] georama text-[24px] md:text-[28px] mb-2 md:mb-5"
      >
        Følg os
      </h1>
      <a
        href="https://www.instagram.com/kaffevaerkcph/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image src={instagram} alt="Instagram ikon" class="w-[30px] h-[30px]" />
      </a>
    </div>
  </div>

  <!-- Nederste del -->
  <div
    class="mt-8 pt-4 text-[12px] md:text-[14px] px-4 md:px-16 flex flex-wrap justify-center items-center gap-8 text-[#F9F6F1] manrope"
  >
    <p class="whitespace-nowrap">@ 2025, Kaffevaerk</p>
    <a href="#" class="whitespace-nowrap hover:underline"
      >Politik om beskyttelse af persondata</a
    >
    <a href="#" class="whitespace-nowrap hover:underline">Servicevilkår</a>
    <a href="#" class="whitespace-nowrap hover:underline">Leveringspolitik</a>
    <a href="#" class="whitespace-nowrap hover:underline">Refusionspolitik</a>
    <a href="#" class="whitespace-nowrap hover:underline">Opsigelsespolitik</a>
  </div>
</footer>

<script>
  import { inView } from "motion";

  const fade1 = document.querySelector(".fade1");

  inView(fade1, () => {
    fade1.classList.add(
      "animate__animated",
      "animate__fadeIn",
      "fadeInOpacity"
    );
  });

  const fade2 = document.querySelector(".fade2");

  inView(fade2, () => {
    fade2.classList.add(
      "animate__animated",
      "animate__fadeIn",
      "fadeInOpacity",
      "animate__delay-1s"
    );
  });
</script>
